<a href="https://colab.research.google.com/github/martharajkumar/Machine_Learning_Projects/blob/master/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
!wget -O "machine_learning_india_ai_challenge-dataset.zip" "https://dockship-job-models.s3.ap-south-1.amazonaws.com/66f283fd33eba21756522f1d21cef38d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20201218%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20201218T184003Z&X-Amz-Expires=1800&X-Amz-Signature=ca6b2e07f6e3825b58734f3e67f123b71599f7844e903c5d61a0c1de9004f810&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22machine_learning_india_ai_challenge-dataset.zip%22"

--2020-12-18 20:01:51--  https://dockship-job-models.s3.ap-south-1.amazonaws.com/66f283fd33eba21756522f1d21cef38d?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIDOPTEUZ2LEOQEGQ%2F20201218%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Date=20201218T184003Z&X-Amz-Expires=1800&X-Amz-Signature=ca6b2e07f6e3825b58734f3e67f123b71599f7844e903c5d61a0c1de9004f810&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3D%22machine_learning_india_ai_challenge-dataset.zip%22
Resolving dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)... 52.219.62.38
Connecting to dockship-job-models.s3.ap-south-1.amazonaws.com (dockship-job-models.s3.ap-south-1.amazonaws.com)|52.219.62.38|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2020-12-18 20:01:52 ERROR 403: Forbidden.

In [95]:
import numpy as np
import pandas as pd

# New Section

In [96]:
train=pd.read_csv('TRAIN.csv')
train.head(5)

   Index        V1        V2        V3  ...       V27       V28  Amount  Class
0      0  2.245295 -1.160960 -1.966682  ... -0.047350 -0.064800   74.75    0.0
1      1  1.278609  0.102574  0.512079  ... -0.078720  0.008119    1.38    0.0
2      2  1.466457  0.026088 -0.499298  ...  0.001524  0.030935   10.95    0.0
3      3 -0.922137 -0.371579  2.132018  ... -0.034480 -0.064786    8.04    0.0
4      4 -1.166525  0.255439  2.108464  ...  0.029124  0.091303  175.00    0.0

[5 rows x 31 columns]

# New Section

In [97]:
train.columns

Index(['Index', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [98]:
test=pd.read_csv('TEST.csv')

In [99]:
test.head()

   Index        V1        V2        V3  ...       V26       V27       V28  Amount
0      0  1.755477 -0.860198 -1.629185  ... -0.039022 -0.058861 -0.035955  186.76
1      1 -0.706506  1.155627  1.132585  ...  0.063306 -0.284146 -0.015198   21.18
2      2  1.043717 -0.928666  0.643312  ... -0.726163  0.176843  0.005530    1.00
3      3 -4.194074  4.382897 -5.118363  ... -0.131687  0.473934  0.473757   14.46
4      4  1.187587  0.173589  0.104741  ... -0.312343  0.019521  0.005464   27.00

[5 rows x 30 columns]

In [100]:
train.shape

(57759, 31)

In [101]:
test.shape

(352, 30)

In [102]:
test.columns

Index(['Index', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')

In [103]:
test.dtypes

Index       int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
dtype: object

In [104]:
train.dtypes

Index       int64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class     float64
dtype: object

In [105]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57759 entries, 0 to 57758
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Index   57759 non-null  int64
 1   V1      57759 non-null  float64
 2   V2      57759 non-null  float64
 3   V3      57759 non-null  float64
 4   V4      57759 non-null  float64
 5   V5      57759 non-null  float64
 6   V6      57759 non-null  float64
 7   V7      57759 non-null  float64
 8   V8      57759 non-null  float64
 9   V9      57759 non-null  float64
 10  V10     57758 non-null  float64
 11  V11     57758 non-null  float64
 12  V12     57758 non-null  float64
 13  V13     57758 non-null  float64
 14  V14     57758 non-null  float64
 15  V15     57758 non-null  float64
 16  V16     57758 non-null  float64
 17  V17     57758 non-null  float64
 18  V18     57758 non-null  float64
 19  V19     57758 non-null  float64
 20  V20     57758 non-null  float64
 21  V21     57758 non-null  float64
 22  V22     57758 non-null  float64
 23  V23     57758 non-null  float64
 24  V24     57758 non-null  float64
 25  V25     57758 non-null  float64
 26  V26     57758 non-null  float64
 27  V27     57758 non-null  float64
 28  V28     57758 non-null  float64
 29  Amount  57758 non-null  float64
 30  Class   57758 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 13.7 MB

In [106]:
x=list(train.columns)
x

['Index',
 'V1',
 'V2',
 'V3',
 'V4',
 'V5',
 'V6',
 'V7',
 'V8',
 'V9',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'Amount',
 'Class']

In [107]:
for i in x:
  print(train[i].isnull().sum(),i)

0 Index
0 V1
0 V2
0 V3
0 V4
0 V5
0 V6
0 V7
0 V8
0 V9
1 V10
1 V11
1 V12
1 V13
1 V14
1 V15
1 V16
1 V17
1 V18
1 V19
1 V20
1 V21
1 V22
1 V23
1 V24
1 V25
1 V26
1 V27
1 V28
1 Amount
1 Class

In [108]:
train.isnull().sum()

Index     0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [109]:
train.isnull().sum()

Index     0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [110]:
train['Amount']

0         74.75
1          1.38
2         10.95
3          8.04
4        175.00
          ...
57754     37.83
57755     23.81
57756     15.95
57757    125.43
57758       NaN
Name: Amount, Length: 57759, dtype: float64

In [111]:
train['V28']

0       -0.064800
1        0.008119
2        0.030935
3       -0.064786
4        0.091303
           ...
57754   -0.018331
57755    0.008091
57756   -0.056858
57757    0.055201
57758         NaN
Name: V28, Length: 57759, dtype: float64

In [113]:
train.iloc[57758].fillna(0)

Index     57758.000000
V1           -0.447094
V2            1.164220
V3            1.518523
V4            0.852018
V5            0.022709
V6           -0.565555
V7            0.929104
V8           -0.255161
V9           -0.776467
V10           0.000000
V11           0.000000
V12           0.000000
V13           0.000000
V14           0.000000
V15           0.000000
V16           0.000000
V17           0.000000
V18           0.000000
V19           0.000000
V20           0.000000
V21           0.000000
V22           0.000000
V23           0.000000
V24           0.000000
V25           0.000000
V26           0.000000
V27           0.000000
V28           0.000000
Amount        0.000000
Class         0.000000
Name: 57758, dtype: float64

In [118]:
from sklearn.linear_model import LogisticRegression

In [119]:
train.describe()

              Index            V1  ...        Amount         Class
count  57759.000000  57759.000000  ...  57758.000000  57758.000000
mean   28879.000000      0.000700  ...     87.428192      0.001524
std    16673.731436      1.974522  ...    235.648536      0.039004
min        0.000000    -46.855047  ...      0.000000      0.000000
25%    14439.500000     -0.917209  ...      5.550000      0.000000
50%    28879.000000      0.025877  ...     22.500000      0.000000
75%    43318.500000      1.315275  ...     77.000000      0.000000
max    57758.000000      2.408046  ...   8790.260000      1.000000

[8 rows x 31 columns]

In [120]:
import matplotlib.pyplot as plt